<h1>Client Name</h1>
<table>
    <caption>Fuel Quote</caption>
    <thead>
        <tr>
            <th scope="col">Gallons</th>
            <th scope="col">Order Date</th>
            <th scope="col">Delivery Address</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Suggested Price</th>
            <th scope="col">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="gallons">12</td>
            <td class="orderDate">03/02/2020</td>
            <td class="deliveryAddress">111 Main</td>
            <td class="deliveryDate">03/20/2020</td>
            <td class="price">$2.00</td>
            <td class="total">$24.00</td>
        </tr>
        <tr>
            <td class="gallons">17</td>
            <td class="orderDate">03/06/2020</td>
            <td class="deliveryAddress">111 Main</td>
            <td class="deliveryDate">03/25/2020</td>
            <td class="price">$2.00</td>
            <td class="total">$34.00</td>
        </tr>
    </tbody>
</table>