table {
    border-collapse: collapse;
}

th, td {
    padding: 10px 15px;

}

td {
    border-bottom: 1px solid dimgrey;
    border-right: 1px solid dimgrey;
}

thead {
    background: midnightblue;
    color: white;
}

tbody tr:nth-child(even) {
    background: lightgrey;
}

td:first-child {
    border-left: 1px solid dimgrey;
}

.deliveryAddress {
    text-align: left;
}

.gallons, .orderDate, .deliveryDate, .price, .total {
    text-align: center;
}