.header-container {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.fuelQuote-container {
    display: flex;
    justify-content: center;
}

.quoteForm {
    width: fit-content;
    height: fit-content;
    padding: 1%;
    border: dimgrey;
    border-radius: 5px;
    box-shadow: 0 10px 10px dimgrey, 0 5px 5px dimgrey;
}
